/vendor/
/node_modules/
/.env
/.idea/
/.vscode/
.DS_Store
Thumbs.db
.history/
/storage/*
!/storage/.gitkeep
storage/google-credentials.json
/content/*
!/content/.gitkeep
/public/assets/css/main.css.map
/app/Config/branding.php
# Google API credentials (explicit)
/storage/client_secret_644663763502-ghe7ku1e72rl3i29dfbtemjgtj7uarug.apps.googleusercontent.com.json
